.topbar-container {
  background-color: #064c87;
  display: flex;
  justify-content: space-between;
  padding: 0.31vw 2.5vw;
  width: 100vw;
  height: 2.5vw;
}
.topvar-countryies {
  display: flex;
  width: 25vw;
  justify-content: space-evenly;
}

.topbar-c-icon {
  display: flex;
  cursor: pointer;
  width: 5.5vw;
  justify-content: space-between;
}
.topbar-c-icon img {
  width: 1.62vw;
  object-fit: contain;
}
.topbar-c-icon span {
  font: normal normal normal 12px/18px Poppins;
  color: #ffffff;
  opacity: 1;
  text-align: center;
  font-size: 0.95vw;
  line-height: 2vw;
}

@media only screen and (max-device-width: 700px) {
  .topbar-container {
    background-color: #064c87;
    display: flex;
    justify-content: space-between;
    padding: 1vw 2.5vw;
    width: 100vw;
    height: 8vw;
  }
  .topvar-countryies {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
  }

  .topbar-c-icon {
    display: flex;
    cursor: pointer;
    width: 15vw;
    justify-content: space-between;
  }
  .topbar-c-icon img {
    width: 6vw;
    object-fit: contain;
  }
  .topbar-c-icon span {
    font: normal normal normal 12px/18px Poppins;
    color: #ffffff;
    opacity: 1;
    text-align: center;
    font-size: 2.7vw;
    line-height: 2vw;
  }
}
